<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="us.rjuhsd.ohs.OHSApp"
          android:versionCode="1"
          android:versionName="0.4.0 Dev">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
		    android:label="@string/app_name"
		    android:icon="@drawable/icon"
		    android:allowBackup="true">
        <activity android:name=".activities.MainActivity"
                  android:label="@string/app_name">
	        <intent-filter>
		        <action android:name="android.intent.action.MAIN"/>
		        <category android:name="android.intent.category.LAUNCHER"/>
	        </intent-filter>
        </activity>
        <activity android:name=".activities.ClassesOverviewActivity"
                  android:label="@string/activity_grades">
        </activity>
        <activity android:name=".activities.Preferences"
                  android:label="@string/activity_preferences">
        </activity>
	    <activity android:name=".activities.DebugPreferences"
	              android:label="@string/activity_debug_preferences">
	    </activity>
	    <activity android:name=".activities.ClassDetailActivity"
	              android:label="@string/activity_grades_detail">
	    </activity>
	    <activity android:name=".activities.ClassAssignmentActivity"
	              android:label="@string/activity_grades_detail_detail">
	    </activity>
	    <receiver android:name=".https.WiFiStateReceiver">
		    <intent-filter>
			    <action android:name="android.net.wifi.supplicant.CONNECTION_CaHANGE" />
		    </intent-filter>
	    </receiver>
	    <receiver android:name=".ClassesOverviewAppWidgetProvider" android:label="@string/classes_overview" >
		    <intent-filter>
			    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			    <action android:name="us.rjuhsd.ohs.OHSApp.RELOAD_CLASSES_WIDGET" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/classes_overview_appwidget_info" />
	    </receiver>
    </application>
</manifest>
